<p-table [value]="data" [scrollable]="true"  scrollHeight="100vh" styleClass="p-datatable-scrollable">
  <ng-template pTemplate="header">
    <tr appStickyHeader>
      <th scope="col">Colonne 1</th>
      <th scope="col">Colonne 2</th>
      <th scope="col">Colonne 3</th>
      <th scope="col">Colonne 4</th>
      <th scope="col">Colonne 5</th>
      <th scope="col">Colonne 6</th>
      <th scope="col">Colonne 7</th>
      <th scope="col">Colonne 8</th>
      <th scope="col">Colonne 9</th>
      <th scope="col">Colonne 10</th>
      <th scope="col">Colonne 11</th>
      <th scope="col">Colonne 12</th>
      <th scope="col">Colonne 13</th>
      <th scope="col">Colonne 14</th>
      <th scope="col">Colonne 15</th>
      <th scope="col">Colonne 16</th>
      <th scope="col">Colonne 17</th>
      <th scope="col">Colonne 18</th>
      <th scope="col">Colonne 19</th>
      <th scope="col">Colonne 20</th>
      <th scope="col">Colonne 21</th>
      <th scope="col">Colonne 22</th>
      <th scope="col">Colonne 23</th>
      <th scope="col">Colonne 24</th>
      <th scope="col">Colonne 25</th>
      <th scope="col">Colonne 26</th>
      <th scope="col">Colonne 27</th>
      <th scope="col">Colonne 28</th>
      <th scope="col">Colonne 29</th>
      <th scope="col">Colonne 30</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row>
    <tr>
      <td>{{ row.col1 }}</td>
      <td>{{ row.col2 }}</td>
      <td>{{ row.col3 }}</td>
      <td>{{ row.col4 }}</td>
      <td>{{ row.col5 }}</td>
      <td>{{ row.col6 }}</td>
      <td>{{ row.col7 }}</td>
      <td>{{ row.col8 }}</td>
      <td>{{ row.col9 }}</td>
      <td>{{ row.col10 }}</td>
      <td>{{ row.col11 }}</td>
      <td>{{ row.col12 }}</td>
      <td>{{ row.col13 }}</td>
      <td>{{ row.col14 }}</td>
      <td>{{ row.col15 }}</td>
      <td>{{ row.col16 }}</td>
      <td>{{ row.col17 }}</td>
      <td>{{ row.col18 }}</td>
      <td>{{ row.col19 }}</td>
      <td>{{ row.col20 }}</td>
      <td>{{ row.col21 }}</td>
      <td>{{ row.col22 }}</td>
      <td>{{ row.col23 }}</td>
      <td>{{ row.col24 }}</td>
      <td>{{ row.col25 }}</td>
      <td>{{ row.col26 }}</td>
      <td>{{ row.col27 }}</td>
      <td>{{ row.col28 }}</td>
      <td>{{ row.col29 }}</td>
      <td>{{ row.col30 }}</td>
    </tr>
  </ng-template>
</p-table>
